@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

*,*::before,*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth !important;
    font-family: "Open Sans", sans-serif;
}

a {
    text-decoration: none;
    color: inherit;
    opacity: 0.9;
}

ul, nav {
    list-style: none;
    display: flex;
}

section .separacion {
    background-color: deepskyblue;
    width: 80%;
    height: 2px;
    border: 0;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 125px 100px;
}

section p{
    max-width: 600px;
    text-align: justify;
    margin-bottom: 25px;
    line-height: 1;
}

/* Header */

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
    padding: 10px 60px;
}

header ul {
    display: flex;
}

header .fa-car-side {
    color: black;
    font-size: 50px;
}

header h1{
    color: white;
    font-size: 50px;
}

header nav ul li {
    margin: 0 15px;
}

header nav ul li:hover {
    opacity: 0.5;
}

header nav li:first-child {
    margin-left:0;
}

header nav li:last-child {
    margin-right: 0;
}

header nav ul a {
    font-size: 20px;
    font-weight: 60;
    color: white;
}

.menu {
    display: none;
    width: 50px;
    height: 40px;
    color: white;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    header h1 {
        font-size: 40px;
    }
    header .fa-car-side {
        font-size: 40px;
    }
    header nav ul a {
        font-size: 16px;
    }
}


@media screen and  (max-width: 900px) {
    header {
        flex-wrap: wrap;
        padding: 0;
    }

    header h1 {
        font-size: 30px;
    }

    header .fa-car-side {
        font-size: 30px;
    }
    header nav ul {
        flex-direction: column;
        background-color: black;
        position: relative;
        top: 0;
        left: 0;
        width: 100vw;
    }

    header nav ul li {
        text-align: center;
        margin: 5px 0;
    }

    header nav ul li a {
        color: #FFFFFF;
        text-decoration: none;
        font-size: 16px;
    }

    .active {
        display: none;
    }

    .menu {
        display: inline-block;
    }
}


.hero {
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: #fff;
    text-align: center;
}

.hero .title {
    font-weight: 800;
    font-size: 60px;
    margin-bottom: 25px;
    text-align: center;
}

.hero .text {
    font-weight: 600;
    font-size: 30px;
}

.hero .background-image {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    z-index: -1;
}

.hero .background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    background-size: cover;
    z-index: -1;
}

.GoogleBtn {
    width: auto;
    height: 100px;
}

.AppStoreBtn {
    margin-top: 10px;
    margin-left: 20px;
    width: auto;
    height: 80px;
}

@media screen and (max-width: 900px) {
    .hero .title{
        margin-top: 20px;
        font-size: 40px;
    }
    .hero .text {
        font-size: 20px;
    }
}

@media (max-width: 600px) {
    .GoogleBtn {
        width: auto;
        height: 80px;
    }

    .AppStoreBtn {
        width: auto;
        height: 60px;
    }
}

.funcionamiento {
    flex-direction: row;
    position: relative;
    justify-content: center;
    min-height: 100vh;
    color: white;
    text-align: justify;
}

.funcionamiento .container {
    background-color: rgba(0,0,0,0.75);
}

.funcionamiento .title {
    font-weight: 800;
    font-size: 50px;
    margin-bottom: 15px;
    color: #0583D2;
}

.funcionamiento .subtitle {
    font-weight: 600;
    font-size: 25px;
    margin-bottom: 15px;
}

.funcionamiento .title2 {
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 15px;
    margin-left: 25px;
    color: #0583D2;
}

.funcionamiento .text {
    max-width: 500px;
    margin-bottom: 15px;
    font-size: 16px;
}

.funcionamiento .list {
    margin-left: 150px;
    flex-direction: column;
}

.funcionamiento i {
    position: absolute;
    padding-top: 5px;
    font-size: 16px;
}

.funcionamiento .list li {
    padding: 0 20px;
    border-style: solid;
    margin-bottom: 30px;
    background-color: rgba(0,0,0,0.75);
}

.funcionamiento .background-image {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.2);
    background-size: cover;
    z-index: -1;
}

.funcionamiento .background-image::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    background-size: cover;
    z-index: -1;
}

@media screen and (max-width: 600px) {
    .funcionamiento  {
        flex-direction: column;
    }
    .funcionamiento .list{
        margin-left: 0;
        margin-top: 50px;
    }
}

.contenedor {
    height: auto;
    display: flex;
    width: 100%;
    margin:auto;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.caracteristica {
    width: 300px;
    max-width: 300px;
}

.caracteristica:hover{
    background: #00B4D8;
    color: #000000;
    transition: 0.3s ease-in-out;
    transform: scale(1.1);
}

.caracteristicas .title {
    font-weight: 800;
    font-size: 50px;
    color: #03045E;
}

.caracteristicas .subtitle {
    font-weight: 600;
    font-size: 35px;
    color: #03045E;
    margin-bottom: 20px;
}

.caracteristicas .text {
    font-weight: 400;
    font-size: 25px;
    max-width: 600px;
}

.caracteristicas i {
    font-size: 50px;
    text-align: center;
    margin-bottom: 10px;
}

.caracteristicas img{
    width: 80px;
    align-self: center;
}

@media screen and (max-width: 1000px) {

    .caracteristica{
        width: 80%;
        max-width: none;
        margin-bottom:40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px) {

    .caracteristicas .title {
        font-size: 40px;
    }

    .caracteristica{
        width: 80%;
        padding: 30px;
    }
    .caracteristicas .subtitle {
        font-size: 25px;
    }

    .caracteristicas .text {
        font-size: 16px;
        max-width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .caracteristica{
        width: 200px;
        padding: 20px;
    }
}

.caracteristica , .nuestra, .opinion{
    height: 400px;
    margin: 40px;
    border: 1px solid #00B4D8;
    border-radius: 5px;
    box-shadow: 0 0 4px 0 black;
    text-align: justify;
    padding: 10px 20px;
    flex-grow: 1;
    color:#000000;
    display: flex;
    flex-direction: column;
}

.nuestra {
    width: 500px;
    max-width: 500px;
}

.nosotros .title {
    font-weight: 700;
    font-size: 50px;
    color: #03045E;
    margin-bottom: 25px;
}

.nosotros .text {
    font-weight: 400;
    font-size: 24px;
    max-width: 100%;
}

.nosotros img {
    width: 40%;
    margin-bottom: 15px;
}

.nuestra .title {
    font-weight: 600;
    font-size: 35px;
    color: #03045E;
    margin-bottom: 100px;
}


@media screen and (max-width: 1000px) {

    .nuestra{
        width: 80%;
        max-width: none;
        margin-bottom:40px;
        flex-grow: initial;
    }
}

@media screen and (max-width: 700px) {

    .nosotros .title {
        font-size: 40px;
    }

    .nosotros .text{
        font-size: 16px;
    }

    .nosotros img {
        width: 100%;
    }

    .nuestra{
        width: 80%;
        padding: 30px;
    }
    .nuestra .title {
        font-size: 25px;
    }

    .nuestra .text {
        font-size: 16px;
        max-width: 500px;
    }
}

@media screen and (max-width: 550px) {
    .nuestra{
        width: 200px;
        padding: 20px;
    }
}

.opiniones .title {
    font-weight: 800;
    font-size: 50px;
    color: #03045E;
}

.opinion {
    width: 250px;
    max-width: 250px;
    height: 500px;
}

.opinion .op1 {
    height: 40%;
}

.opinion img {
    height: auto;
    width: 100%;
    margin-bottom: 25px;
}

.opinion .text {
    font-weight: 600;
    font-size: 24px;
    color: #03045E;
    margin-bottom: 25px;
}

.opinion .autor {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

@media screen and (max-width: 1000px) {

    .opinion{
        width: 80%;
        max-width: none;
        margin-bottom:40px;
        flex-grow: initial;
    }
    .opinion img {
        width: 50%;
        align-self: center;
    }
}

@media screen and (max-width: 700px) {

    .opiniones .title {
        font-size: 40px;
    }

    .opinion{
        width: 80%;
        padding: 30px;
    }
}

@media screen and (max-width: 550px) {
    .opinion{
        width: 200px;
        padding: 20px;
    }

    .opinion .text {
        font-size: 16px;
        max-width: 500px;
    }

    .opinion .autor {
        font-size: 10px;
        max-width: 500px;
    }
}

.descarga {
    flex-direction: row;
    background-color: #0583D2;
    gap: 200px;
}

.descarga .title {
    font-weight: 700;
    font-size: 50px;
    color: #03045E;
    margin-bottom: 35px;
}

.descarga .text {
    font-weight: 600;
    font-size: 24px;
}

@media screen and (max-width: 1000px) {

    .opinion{
        width: 80%;
        max-width: none;
        margin-bottom:40px;
        flex-grow: initial;
    }
    .descarga {
        flex-direction: column;
    }
}

@media screen and (max-width: 700px) {

    .descarga {
        flex-direction: column;
        gap: 100px;
    }
    .descarga .title {
        font-size: 40px;
    }
    .descarga .text {
        font-size: 20px;
    }

    .descarga .Phone {
        width: 100%;
    }
}

footer {
    background-color: black;
}

footer .contenedor {
    justify-content: space-between;
}

footer .GoogleBtn {
    width: auto;
    height: 60px;
}

footer .AppStoreBtn {
    margin-top: 5px;
    margin-left: 20px;
    width: auto;
    height: 50px;
}

footer .list li, footer .redes li {
    margin: 0 15px;
}

footer .list li:hover{
    opacity: 0.5;
}

footer .list li:first-child, footer .redes li {
    margin-left: 20px;
}

footer .list li:last-child {
    margin-right: 0;
}

footer ul li:last-child {
    margin-right: 20px;
}

footer .list a {
    font-size: 20px;
    font-weight: 60;
    color: white;
}

footer h1 {
    margin-top: 10px;
    margin-left: 20px;
    font-weight: 400;
    font-size: 24px;
    color: white;
}

footer .redes {
    color: white;
}

footer .redes li {
    font-size: 20px;
}

@media screen and (max-width: 1000px) {

   footer .contenedor {
       justify-content: center;
   }
    footer .list {
        flex-direction: column;
    }
    footer ul {
        flex-direction: column;
    }
    footer .GoogleBtn {
        margin-left: 20px;
    }
    footer h1 {
        font-size: 20px;
    }
}

.probar {
    border-style: solid;
    width: 50%;
    margin: 100px auto;
    border-radius: 20px;
}

.probar h1 {
    font-size: 50px;
    font-weight: 800;
    color: #03045E;
    margin-bottom: 25px;
}

.probar p {
    font-weight: 600;
    font-size: 30px;
    margin-bottom: 25px;
}

.boton {
    background-color: #00B4D8;
    color: black;
    border-radius: 10px;
    padding: 10px 20px;
    border: black solid 1px;
    text-decoration: none;
    width: 50%;
}

.probar a {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
}

.boton:hover {
    opacity: 0.9;
    transition: background ease-in .2s;
    background-color: #00B4D8;
    color: white;
}

@media screen and (max-width: 900px) {
    .probar {
        width: 100%;
    }
}

